/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #6091C3;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    font-weight: 100;
  }
  
  h2 {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
  }
  
  /* || header layout */
  
  .header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }
  
  body > * {
    background-color: red;
    padding: 1%;
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  .header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }
  
 
  
  /* || main layout */
  
  /*.main {
    display: block;
    font-size: medium;
    text-align: center;
<<<<<<< HEAD
    background-color: aliceblue;
  }*/
=======
  }
>>>>>>> da042d4ad9bf2cb524f62b7e93e3cc7129dfbcac
  
  .article, .section {
    flex: 4;
  }
  
  .aside {
    display: flex;
    flex-flow: row wrap;
    flex: 2;
  }
  
  .aside a {
    display: flex;
    flex-basis: 50%;
  }
  
  .aside img {
    width: 100%;
    height: auto;
  }
  
  .footer {
    margin-top: 10px;
  }