/* ============================================== */

/* COLORS from adobe complementary
#56B385
#ADFFD7
#94FFCA
#B81500
#FFA094
 */

/* css reset source https://meyerweb.com/eric/tools/css/reset/ */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 100%;
}
/* end css reset */

/* text/font stuff */
h1,
h2 {
  font-family: "Nanum Gothic";
}
h2 {
  font-weight: bold;
}
h3,
ol,
ul,
li {
  font-family: "PT Sans Narrow";
}
h3 {
  font-style: italic;
  font-size: 18px;
}
/* end text/font stuff */

body {
  background-color: #adffd7;
}

/* header negative margin trick via https://css-tricks.com/full-browser-width-bars/*/

html {
  overflow-x: hidden;
}

.header {
  display: flex;
  background-color: #b81500;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: -9999rem -9999rem 0 -9999rem;
  padding: 9999rem 9999rem 9px 9999rem; */
  padding: 15px;
  margin-bottom: 15px;
}

.logo {
  max-height: 150px;
  padding: 15px;
}
.name {
  color: #adffd7;
  text-shadow: -1px 0 #56b385, 0 1px #56b385;
}
.wrapper {
  display: flex;
  background-color: #adffd7;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #adffd7;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  max-width: 960px;
}
.side {
  flex: 0 1 auto;
  width: 175px;
  margin: 0 15px 15px 15px;
}
.article {
  flex: 0 2 auto;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  border: 1px dashed #56b385;
}

.picture {
  /* flex: 1; */
  width: inherit;
  height: auto;
  border: 1px solid #56b385;
  border-radius: 4px;
  margin-bottom: 15px;
}

.paragraph {
  /* flex: 1; */
  flex: 0 1 auto;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
}

.what {
  
}


@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
    /* flex-direction: column; */
  }
  .side {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 15px 15px
  }
}

